<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="https://cdn.brand.illinois.edu/favicon.ico">

    <link rel="stylesheet" href="https://cdn.brand.illinois.edu/components/il-header.css">
    <link rel="stylesheet" href="https://cdn.brand.illinois.edu/components/il-footer.css">
    <link rel="stylesheet" href="//cdn.toolkit.illinois.edu/3/toolkit.css">
    <style type="text/css">
        body {
            margin: 0;
        }

        #main {
            margin-bottom: 50px;
        }
    </style>

    <script src="https://cdn.brand.illinois.edu/components/il-header.mjs" type="module" async></script>
    <script src="https://cdn.brand.illinois.edu/components/il-footer.mjs" type="module" async></script>
    <script type="module" src="//cdn.toolkit.illinois.edu/3/toolkit.js"></script>

    <link rev="made" href="mailto:${contact}">

    <title>${status_code}: ${header_text} - University of Illinois</title>
</head>
<body><ilw-page class="ilw-font">
    <il-header slot="header">
        <div slot="primary-unit">${department}</div>
        <a slot="site-name" href="${site_url}">${site_name}</a>
    </il-header>

    <main id="main" role="main">
        <ilw-content width="page">
            <h1>${status_code}: ${header_text}</h1>
            <section id="message">
                ${message_text}
            </section>
        </ilw-content>
    </main>

    <il-footer slot="footer">
        <div slot="actions">
            <a href="mailto:${contact}">Email Webmaster</a>
        </div>
    </il-footer>
</ilw-page></body>
</html>
